#game-window {
	margin: auto;
  width: 50%;
}

.start-game {
	margin: auto;
  width: 50%;
}

#game-form {
	margin: auto;
  width: 50%;
}

#game-text {
	margin: auto;
  width: 50%;
}

.game-elements {
	margin: auto;
  width: 50%;
}
